<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table style = "border: 1px black double;">
    <tr>
        <td>
            <form th:action="@{/user}">
                <input type="submit" value="HomePage" style="padding: 5px 10px"/>
            </form>
        </td>
        <td>
            <form th:action="@{/login}">
                <input type="submit" value="Login" style="padding: 5px 10px"/>
            </form>
        </td>
        <td>
            <form th:action="@{/logout}">
                <input type="submit" value="Logout" style="padding: 5px 10px"/>
            </form>
        </td>
    </tr>
</table>
<br>
Добро пожаловать
</body>
</html>